﻿<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">NoProblem Sellers API</a></p>                
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome!</h1>
                <h2>Got leads?</h2>
            </hgroup>
            <p>
                
            </p>
            <p>
               
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>We suggest the following steps:</h3>
        <ol class="round">
            <li class="one">
                <h5>Getting Started</h5>
                Contact us at
                <a href="http://noproblemppc.com">NoProblemPPC.com</a>
            </li>
            <li class="two">
                <h5>Code!</h5>
                Get the API specs and write some code!
            </li>
            <li class="three">
                <h5>Leads! Leads!</h5>
                Sell some leads!
            </li>
        </ol>
    </section>
</div>
