﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="BlackListDomain.aspx.cs" Inherits="NoProblem.Core.Interfaces.Core.Pages.BlackListDomain" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:FileUpload ID="fu" runat="server" />
        <asp:Button ID="btn_Load" runat="server" Text="Load" onclick="btn_Load_Click" />
    </div>
    <div runat="server" id="div_result" visible="false">
        <asp:Label ID="lbl_Inserted" runat="server" Text="0"></asp:Label>
        <asp:Label ID="Label1" runat="server" Text="inserted to bad domain list"></asp:Label>
        
    </div>
    
    </form>
</body>
</html>
