﻿@model MobileAPI.Models.PushTestModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PushTestModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.DeviceId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DeviceId)
            @Html.ValidationMessageFor(model => model.DeviceId)
        </div>
        <table>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.DataKey1)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.DataKey1)
                        @Html.ValidationMessageFor(model => model.DataKey1)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.DataValue1)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.DataValue1)
                        @Html.ValidationMessageFor(model => model.DataValue1)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.DataKey2)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.DataKey2)
                        @Html.ValidationMessageFor(model => model.DataKey2)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.DataValue2)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.DataValue2)
                        @Html.ValidationMessageFor(model => model.DataValue2)
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.DataKey3)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.DataKey3)
                        @Html.ValidationMessageFor(model => model.DataKey3)
                    </div>
                </td>
                <td>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.DataValue3)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.DataValue3)
                        @Html.ValidationMessageFor(model => model.DataValue3)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.DataKey4)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.DataKey4)
                        @Html.ValidationMessageFor(model => model.DataKey4)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.DataValue4)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.DataValue4)
                        @Html.ValidationMessageFor(model => model.DataValue4)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.DataKey5)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.DataKey5)
                        @Html.ValidationMessageFor(model => model.DataKey5)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.DataValue5)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.DataValue5)
                        @Html.ValidationMessageFor(model => model.DataValue5)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.DataKey6)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.DataKey6)
                        @Html.ValidationMessageFor(model => model.DataKey6)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.DataValue6)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.DataValue6)
                        @Html.ValidationMessageFor(model => model.DataValue6)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.DataKey7)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.DataKey7)
                        @Html.ValidationMessageFor(model => model.DataKey7)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.DataValue7)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.DataValue7)
                        @Html.ValidationMessageFor(model => model.DataValue7)
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.DataKey8)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.DataKey8)
                        @Html.ValidationMessageFor(model => model.DataKey8)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.DataValue8)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.DataValue8)
                        @Html.ValidationMessageFor(model => model.DataValue8)
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.DataKey9)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.DataKey9)
                        @Html.ValidationMessageFor(model => model.DataKey9)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.DataValue9)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.DataValue9)
                        @Html.ValidationMessageFor(model => model.DataValue9)
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.DataKey10)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.DataKey10)
                        @Html.ValidationMessageFor(model => model.DataKey10)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.DataValue10)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.DataValue10)
                        @Html.ValidationMessageFor(model => model.DataValue10)
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.DataKey11)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.DataKey11)
                        @Html.ValidationMessageFor(model => model.DataKey11)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.DataValue11)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.DataValue11)
                        @Html.ValidationMessageFor(model => model.DataValue11)
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.DataKey12)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.DataKey12)
                        @Html.ValidationMessageFor(model => model.DataKey12)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.DataValue12)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.DataValue12)
                        @Html.ValidationMessageFor(model => model.DataValue12)
                    </div>
                </td>
            </tr>
        </table>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
