﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Campaign.aspx.cs" Inherits="SmsCampaign.Campaign" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
         
               <div class="main-inputs" runat="server" id="PublisherInput">					
	                
            			 
			            <div class="form-field">
                            <label for="form-subsegment" class="label" runat="server" id="lbl_RequestId">Campaign name:</label>
                            <asp:TextBox ID="txt_CampaignName" CssClass="form-text" runat="server"></asp:TextBox>
			              
                       </div>  
                   <div class="clear"></div>
                   <div class="form-field">
                            <label for="form-subsegment" class="label" runat="server" id="Label1">Text message:</label>
                            <asp:TextBox ID="txt_message" CssClass="form-text txt_message" runat="server"  TextMode="MultiLine"></asp:TextBox>
			              
                       </div>  
                   <div class="clear"></div>
                   <div class="form-field">
                       <asp:LinkButton ID="lb_AddCampaign" runat="server" Text="Add campaign" CssClass="anchor_CreateReportSubmit2" 
				                    onclick="btn_Click"></asp:LinkButton>
                   </div>
                   <div class="clear"></div>
                   <div class="form-field">
                       <asp:Label ID="lbl_message" runat="server"  ForeColor="Red"></asp:Label>
                   </div>    
        </div>
        <div>
            <asp:GridView ID="_GridView" runat="server" AutoGenerateDeleteButton="True" OnRowDeleted="_GridView_RowDeleted">

            </asp:GridView>
        </div>
    </div>
    </form>
</body>
</html>
