﻿@model WhatSearchPoc.Models.SearchResultModel

<div>
    <h4>Search resutls for "@Model.SearchTerm"</h4>
    <hr />
    <p>
        @Html.ActionLink("Back to Search", "Index")
    </p>
    <dl class="dl-horizontal">
        <dd>
            <h3>Np Categories:</h3>
           @foreach (var element in Model.Categories)
           {
            <p>@Html.DisplayFor(m => element)</p>
           }
        </dd>
        <dd>
            <h3>Np Categories by slider keywords:</h3>
            @foreach (var element in Model.CategoriesBySliderKeywords)
            {
                <p>@Html.DisplayFor(m => element)</p>
            }
        </dd>
        <dd>
            <h3>Google categories:</h3>
            @foreach (var element in Model.GoogleCategories)
            {
                <p>@Html.DisplayFor(m => element)</p>
            }
        </dd>
        <dd>
            <h3>Yelp categories:</h3>
            @foreach (var element in Model.YelpCategories)
            {
                <p>@Html.DisplayFor(m => element)</p>
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to Search", "Index")
</p>
